html, 
      body {
          height: 100%;
          margin: 0;
      }

      body {
        min-height: 100%;
      }

      input[type='button'] {
          cursor: pointer;
      }

      .container {
        width: 100%;
        height: 100%;
      }

      .container>div {
        display: inline-block;
        height: 100%;
      }

      .editor {
        /* width: 80%; */
    width:calc(100% - 400px);
    background:blue;
    float:left;
      }

      .controlsWrapper {
        /* width: 20%; */
        width:400px;
        background:#CCCCCC;
        float:right;   
        overflow-y: scroll;
      }

      .listbox {
          padding-top: 5px;
          padding-bottom:5px;
          width: 100%;
      }

      .listbox>*{
        text-align: center;
        display: block;
      }

      .listbox > .title {
          font-weight: bold;
          text-align: center;
      }

      .listbox select {
          overflow-y: auto;
          margin: 0 auto;
          min-width: 150px;
      }

      .listbox select>option {
        border-bottom: 1px solid gray;
    }

    .row>.title {
        float: left;
        width: 20%;
    }
    .row>.title + .value {
        float: right;
        width: 80%;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
      }

    .V2>.value.edit > .read {
        display: none;
    }

    .V2>.value > .edit {
        display: none;
    }

    .V2>.value > .edit > input {
        display: inline-block;
        width: 30px;
    }

    .V2>.value.edit > .edit {
        display: block;
    }

    .V2>.value:not(.edit) {
        cursor: pointer;
    }
/* 
    .range>.title {
        float: left;
        width: 20%;
    }
    .range>.title + .value {
        float: right;
        width: 80%;
    } */