html, 
      body {
          height: 100%;
          margin: 0;
      }

      body {
        min-height: 100%;
      }

      .container {
        width: 100%;
        height: 100%;
      }

      .container>div {
        display: inline-block;
        height: 100%;
      }

      .editor {
        /* width: 80%; */
    width:calc(100% - 400px);
    background:blue;
    float:left;
      }

      .controlsWrapper {
        /* width: 20%; */
        width:400px;
        background:red;
        float:right;   
        overflow-y: scroll;
      }

      .listbox {
          padding-top: 5px;
          padding-bottom:5px;
          width: 100%;
      }

      .listbox>*{
        text-align: center;
        display: block;
      }

      .listbox > .title {
          font-weight: bold;
          text-align: center;
      }

      .listbox select {
          overflow-y: auto;
          margin: 0 auto;
          min-width: 150px;
      }

      .listbox select>option {
        border-bottom: 1px solid gray;
    }